@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@1,300&display=swap');

:root {
    --primary-color: #3d62a4;
    --secondary-color: #519872;
    --accent1-color: #69353f;
    --accent2-color: #fff;

    --heading-font: 'Roboto', sans seriff;
    --paragraph-font: 'Patrick Hand', cursive;

    --nav-background-color: #519872;
    --nav-link-color: #3d62a4;
    --nav-hover-link-color: #00a;
    --nav-hover-background-color: #3d62a4;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
}
p {
    padding: 25px;
}
nav {
    font-size: small;
    background-color: var(--nav-background-color);
    display: flex;
}
nav a {
    display: block;
    padding: 1.2rem;
    color: var(--nav-link-color);
    text-decoration: none;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}