@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@1,300&display=swap');

:root {
    --primary-color: #3d62a4;
    --secondary-color: #519872;
    --accent1-color: #69353f;
    --accent2-color: #fff;

    --heading-font: 'Roboto', sans seriff;
    --paragraph-font: 'Patrick Hand', cursive;

    --nav-background-color: #519872;
    --nav-link-color: #3d62a4;
    --nav-hover-link-color: #00a;
    --nav-hover-background-color: #3d62a4;
}
h1 {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-family: var(--heading-font);
}
header a, footer a{
    display: block;
    padding: 1.2rem;
    color: var(--nav-link-color);
    text-decoration: none;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
header nav a:hover  {
    color: var(--nav-hover-link-color);
}


header {
    display: grid;
    grid-template-columns: 230px 1fr 1fr;
    align-items: center;
    border-bottom: solid 2px var(--accent1-color);
}
header nav {
    display: flex;
    justify-content: space-between;
}
footer {
    text-decoration: none;
    display: flex;
    justify-content: center;
}
footer nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
table {
    border: 2px solid #000;
    border-collapse: collapse;
    font-size: large;
}
td {
    border: 1px solid #000;
    text-align: center;
    border-bottom: none;
}
.thing {
    font-weight: 200;
}
.images {
    display: flex;
}
.img1 figcaption {
    padding-right: 20px;
    margin-right: 70px ;
}
.two {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    padding-top: 20px;
}
form {
    display: grid;
    grid-column: auto;
    background-color: rgb(161, 155, 155);
}
legend {
    text-align: center;
}
fieldset {
    position: relative;
    margin: auto;
    padding: 1.5rem;
    font-size: large;
    display: grid;
    grid-gap: .5rem;
}
button {
    background-color: var(--nav-hover-link-color);
    color: #fff;
}
button:hover {
    background-color: var(--primary-color);
}
.click {
    margin-top: 10px;
    padding: 25px;
    position: relative;
    left: 14.7rem;
    font-size: 1.1rem;
}
